# This is an example file for automated Travis deployments to IBM Cloud
language: node_js
node_js:
- 8.11.3
env:
  matrix:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - sourceline: ppa:ubuntu-toolchain-r/test
    packages:
    - g++-4.8
branches:
  only:
  - master
install:
  - npm install
cache:
  directories:
  - node_modules
script:
  - if [ "$TRAVIS_BRANCH" = "master" ]; then npm run ci:travis:dev; fi
deploy:
- provider: bluemixcloudfoundry
  username: ${USERNAME}
  password: ${PASSWORD}
  organization: ${ORGANISATION}
  space: dev
  manifest: manifest.yml
  region: eu-gb
  api: https://api.eu-gb.bluemix.net
  on:
    branch: master
notifications:
  slack:
    rooms:
      secure: YOUR-SLACK-NOTIFICATIONS-SECURE-KEY
