applications:
- path: .
  memory: 1024M
  instances: 1
  name: YOUR-APPLICATION-NAME
  routes:
    - route: YOUR-APPLICATION-NAME.eu-gb.mybluemix.net
  disk_quota: 1024M
  buildpack: sdk-for-nodejs
  env:
    NODE_ENV: dev
    TWITTER_CONSUMER_KEY: YOUR-TWITTER-CONSUMER-KEY
    TWITTER_CONSUMER_SECRET: YOUR-TWITTER-CONSUMER-SECRET
    TWITTER_ACCESS_TOKEN_KEY: YOUR-TWITTER-ACCESS-TOKEN-KEY
    TWITTER_ACCESS_TOKEN_SECRET: YOUR-TWITTER-ACCESS-TOKEN-SECRET
    TWITTER_USER_ID: YOUR-TWITTER-USER-ID
    IBM_CLOUD_APPID_CLIENT_ID: YOUR-IBM-CLOUD-APPID-CLIENT-ID
    IBM_CLOUD_APPID_TENANT_ID: YOUR-IBM-CLOUD-APPID-TENANT-ID
    IBM_CLOUD_APPID_SECRET: YOUR-IBM-CLOUD-APPID-SECRET
    IBM_CLOUD_APPID_OAUTH_URL: YOUR-IBM-CLOUD-APPID-OAUTH-SERVER-URL
    IBM_CLOUD_APPID_REDIRECT_URI: YOUR-REDIRECT-URI
    AUTHENTICATION: false
    CAMPAIGN_FORM_ENABLED: true
