<img src="assets/img/login-bg-top.png" class="login-bg-top"/>
<img src="assets/img/login-bg-bottom.png" class="login-bg-bottom"/>
<div class="container-fluid pt-3">
    <div class="row pt-2">
        <div class="col">
            <div class="col-sm-8 col-md-8 col-lg-6 mx-auto text-center pb-3">
                <div class="card">
                    <div class="card-body pb-4">
                        <h5>Welcome to the IBM Social Campaign Manager. Here you'll be able to create an automated social media campaign, that will use Twitter to ascertain how the public feel about an idea or topic.
                        </h5>
                        <h5><a class="btn btn-lg btn-primary" routerLink="/campaigns">Login</a></h5>
                        <p>Don't have an account? Send a request to the admin.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
